body {
  background-color: rgb(245, 169, 179);
}

#content, .links {
  background-color: linen;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 2px;
  border: solid 1px rgb(64, 0, 64);
}

#about {
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 10px;
  padding-top: 2px;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(64, 0, 64);
}

h1 {
  font-size: 200%;
  letter-spacing: 2px;
  word-spacing: 2px;
}

p, a, li {
  font-family: Arial, Helvetica, sans-serif;
}

#source-code {
  float: right;
}