section>div {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f5f5f5;
}
    
#links {
    word-spacing: 5px;
}

#output {
    border: double 3px #888;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text {
    border: dashed 1px #888;
    background-color: lavender;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

#clear, #add-divider {
    float: right;
    margin-left: 5px;
}

.divider {
    border: solid 1px #888;
    background-color: lavender;
    padding: 5px;
}